
.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: rgba(242, 52, 95, 0.2)
}

.bookList {
    overflow: scroll;
    height: 530px;
    width: 375px;
}

.book {
    margin-left: 7px;
    margin-top: 8px;
    height: 92px;
    width: 360px;
    display: flex;
}

.special:hover {
    cursor:pointer
}

.cc {
    
}

.c2 {
    height: 92px;
    width: 283px;
    padding-left: 10px;
    padding-right: 15px;
}

.c1 {
    width: 58px;
}

.r1 {
    font-size: 15px;
}

.r2 {
    margin-top:5px;
    line-height: 18px;
    font-size: 13px;
    font-family: Helvetica;
}

 

.r3 {

    line-height: 20px;
    font-size: 10px;
    font-family: Helvetica;
}