
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: rgba(242, 52, 95, 0.2)
}

.qList {
    overflow: scroll;
    height: 530px;
    width: 375px;
}

 
 .text {
    padding-left: 20px;
    padding-right:8px;
    line-height:1.6;
    background-color: rgba(194, 181, 184, 0.2);
    padding-top:7px;
    padding-bottom:5px;
    font-size: 15px;
 }

 .tags {

    padding-left: 30px;
    padding-right:10px;
    padding-top: 10px;

 }

 .qSpecial:hover{
     cursor: pointer
 }