
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: rgba(242, 52, 95, 0.2)
}

.list {
    overflow: scroll;
    height: 566px;
    width: 375px;
}






 .searchBar {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(242, 52, 95, 0.4);


 }

     
 .content {
    background-color: rgba(242, 52, 95, 0.0);
 }

 .times {
     height: 243px;

 }
.time {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5px solid black;
}

.t {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.t1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.t2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.t3 {
    margin-right: 50px;
}

.t4{
    margin-top:40px;
    font-size: 20px;
    height: 20px;
}

.t5 {
    margin-bottom: 30px;
    font-size: 10px;
    height: 20px;
}

.c1 {
    width: 80px;
}

.v1 {
    height: 243px;
}

.v2 {
    height: 80px;
    border-bottom: 0.5px solid black;
    font-size: 14px;
    padding-left: 20px;
    padding-top:10px;

}

.progress{
    padding-top: 3px;
    width: 300px;
} 